@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family:'Roboto', sans-serif; */

/* * {

  font-family: 'Roboto', sans-serif;
}
 */



.section_noticias{
  background-color: darkgreen;
  color: white;
}

footer{
  background-color:green
}